canvas {
    display: block;
    margin: 0 auto;
}

body {
    background-color: #555A5A;
}

h1 {
    color: #8FBC8B;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 220%;
}

li {
    list-style-type: none;
    text-align: center;
    
}


li a {
    color: bisque;
    font-size: 150%;
    
}